<div class="login-container">
  <h2 class="title">Sign In</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <div class="input-group">
      <input formControlName="username" placeholder="Username" autocomplete="username" />
    </div>
    <div class="input-group">
      <input formControlName="password" type="password" placeholder="Password" autocomplete="current-password" />
    </div>
    <button type="submit" class="btn btn-submit">Sign In</button>
  </form>
  <p class="footer-text">Don't have an account? <a href="/register">Register here</a></p>
</div>
